


.hljs {
    background: #1d1f21;
    color: #c5c8c6;
}

.hljs::selection,
.hljs span::selection {
    background: #373b41;
}

.hljs::-moz-selection,
.hljs span::-moz-selection {
    background: #373b41;
}

.hljs-title,
.hljs-name {
    color: #f0c674;
}

.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
    color: #707880;
}

.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
    color: #cc6666
}

.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #b5bd68;
}

.hljs-attribute,
.hljs-code,
.hljs-selector-id {
    color: #b294bb;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
    color: #81a2be;
}

.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #8abeb7;
}

.hljs-type,
.hljs-built_in,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
    color: #de935f;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

pre.hljs code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    font-weight: 100;
}

pre.hljs {
    overflow-x: auto;
    scrollbar-width: thin;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0em;
}

pre {
    margin: 0em !important;
}

mjx-container {
    margin: 0em 0em 0em 0em !important;
    padding: 0em !important;
    overflow-x: auto !important;
    line-height: 0em !important;
    white-space: normal !important;
}

mjx-container svg {
    overflow-x: auto !important;
}

mjx-assistive-mml {
    overflow-x: auto !important;
    user-select: auto !important;
    padding: 0em !important;
    margin: 0em !important;
}



.agent-message-markdown-display-div h1,
.agent-message-markdown-display-div h2,
.agent-message-markdown-display-div h3,
.agent-message-markdown-display-div h4,
.agent-message-markdown-display-div h5,
.agent-message-markdown-display-div h6 {
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
    font-family: SimHei;
    display: inline-block;
    
}

.agent-message-markdown-display-div p {
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline-block;

}

.agent-chat-container-div {
    padding: 10px;
}

.agent-message-markdown-display-div ul,
.agent-message-markdown-display-div ol {
    /* box-sizing: border-box; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: -50em !important;
    font-weight: 400;
    padding-left: 1.7em;
    margin-bottom: -859em;
    display: inline-block;
    line-height: 0em;
}

.agent-message-markdown-display-div li {

    line-height: 20px;
    letter-spacing: .25px;
    
    
}
.agent-message-markdown-display-div ul > li {
    white-space: pre-wrap !important;
}

.agent-message-markdown-display-div ol > li {
    white-space: normal !important;
}

.agent-message-markdown-display-div ul > p {
    white-space: pre-wrap !important;
}



.agent-message-markdown-display-div li::marker {
    
    font-weight: 700;
}



p code,
li code,
ol code,
ul code
 {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    background-color: #dbe9de;
    color: #808d84;
    font-weight: 500;
    border-radius: 3px;
    padding: 2px 4px;
}



.kimi-markdown-code-header {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    background-color: #c2c2c2;
    padding: 2px 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.9em;
    padding-left: 0.5em;
}

.kimi-markdown-code-copy-button {
    font-family: SimHei, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background: none;
    border: none;
    cursor: pointer;
    color: #ececec;
}

.kimi-markdown-code-copy-button:hover {
    background: none;
    border: none;
    cursor: pointer;
    color: #5573b3;
}


